/*initialisation html-body*/

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*section jumbotron*/
.jumbotron {
    color: white;
    background-image: url(../img/main.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

 /*séparateur card Atelier*/ 
.separated hr {
    margin: 15px 0;
    padding: 0;
    height: 10px;
    font-size: 180%;
    border: none !important;
    background: transparent url(https://www.atelierdeschefs.com/images/fr/courslive3/replay/separateur.png) repeat-x left center;
}

/*responisve pour tablette (vérifier ipad et ipad pro*/
@media (max-width: 1024px) {

}


/*responisve pour mobile*/
@media (max-width: 375px) {

}